apiVersion: v1
kind: Service
metadata:
  name: {{ .Values.service.name }}
  labels:
    {{- include "ep-digital-common.labels" . | nindent 4 }}
    environment: {{ .Values.service.environment }}
    projectname: {{ .Values.service.projectname }}
    labels: serviceobject
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: http
      protocol: TCP
      name: http
  selector:
    {{- include "ep-digital-common.selectorLabels" . | nindent 4 }}