name: Helm Publish

on:
  push:
    branches:
      - 'main'
  workflow_dispatch:

jobs:
  publish-chart:
    permissions:
      contents: read
      packages: write
    runs-on:
      group: ubuntu
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install Helm
        uses: azure/setup-helm@v4
        with:
          version: v3.12.3

      - name: Build and Push the Helm Charts to GitHub Container Registry
        uses: JimCronqvist/action-helm-chart-repo@master
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          chartsPath: ./charts/